/* general */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/matrix\ bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


/* side panels */

.panel {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
}

#right-panel {
  justify-content: flex-start;
}

.hiscores {
  margin-top: 30px;
}

#instruction_title {
  margin-top: 30px;
  margin-bottom: 50px;
}

p {
  margin-bottom: 50px;
}

ul {
  list-style: square;
}

li {
  text-align: left;
  font-size: 10px;
  margin-bottom: 10px;
}

#space {
  font-weight: bold;
  text-transform: uppercase;
}

#space_li{
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 30px;
}

/* buttons */

.button_div {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

button {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #011751;
  color: white;
  border: 2px solid white;
  font-size: large;
  text-align: center;
  margin-bottom: 20px;
}

button:hover{
  background-color: #13338a;
}


#switch{
  width: 150px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border: 2px solid black;
}

#switch:hover, button:hover {
  cursor: pointer;
}

.easy {
  background-image: url('../assets/switch\ easy.png')
}

.extreme {
  background-image: url('../assets/switch\ xtreme.png')
}

/* main section */

main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #0343f4;
  color: white;
}

#main_section {
  display: flex;
  margin-bottom: 80px;
}

header {
  margin-top: 20px;
}

h1 {
  font-size: 2em;
}

#h1_cat{
  font-size: 45px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  height: 25px;
}

#score {
  margin-right: 50px;
}


#grid div {
  flex-grow: 1;
  height: 10%;
  width: 9%;
}

#grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  border: 1px solid white;
  box-shadow: 0px 0px 20px rgb(255 255 255 / 90%);
}


/* player & enemy */

.player {
  background-image: url('../assets/playercat.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.enemy {
  background-image: url('../assets/coding\ bug.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.enemy_projectile {
  background-image: url('../assets/error-icon-25266.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.projectile {
  background-image: url('../assets/icon.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.explosion {
  background-image: url('../assets/Green-check-mark-icon-on-transparent-background-PNG.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dmg {
  background-image: url('../assets/error.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* lives */

.heart {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
}


.lives {
  display: flex;
  margin-left: 30px;
}

